<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

	<mapper namespace="com.foxtail.dao.mybatis.navigation.NavigationDao">
					 
	
			
			
			<!-- 多条件分页查询商品列表 -->
			<select id = "getAllNavigationByPage" resultType = "com.foxtail.model.navigation.Navigation">
					select * from navigation_list ORDER BY navigationSort ASC
			</select>
			
			<!-- 查询所有会员的数量 -->
<!-- 			<select id = "getMemMemberListCount" resultType = "Integer"> -->
<!-- 					select count(1) from member_list -->
<!-- 			</select> -->
			
			<!-- 根据Id删除会员信息 -->
<!-- 			<delete id="deleteMemeberById" parameterType="Integer"> -->
<!-- 					delete from member_list where id = #{id} -->
<!-- 			</delete> -->
			
			<!-- 获得商品对象通过id -->
			<select id="getNavigationById" parameterType="Integer" resultType="com.foxtail.model.navigation.Navigation">
					select * from navigation_list where id = #{id}
			</select>
			
			<!-- 通过商品信息修改商品信息 -->
			<update id="updateNavigation">
					update navigation_list set navigationName = #{navigationName}, navigationPhoto = #{navigationPhoto},navigationSort = #{navigationSort}
					where id = #{id}
			</update>
			
			<!-- 添加商品信息 -->
<!-- 			<insert id="addClassify" parameterType="com.foxtail.model.goods.Classify"> -->
<!-- 					insert into goods_classify -->
<!-- 					(goodsClassifyName,goodsClassifyPhoto,goodsClassifySort) -->
<!-- 					values  -->
<!-- 					(#{goodsClassifyName},#{goodsClassifyPhoto},#{goodsClassifySort}) -->
<!-- 			</insert> -->
			
			
			<!-- 删除商品分类信息/批量删除 -->
			<delete id="deleteNavigation">
					delete from navigation_list
					where id in
					<foreach item="ides" collection="array" open="(" separator="," close=")">
            			#{ides}
        			</foreach>
			</delete>
			
			
							
					
	</mapper>