<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

	<mapper namespace="com.foxtail.dao.mybatis.goods.BrandDao">
					 
	
			
			
			<!-- 多条件分页查询商品列表 -->
			<select id = "getAllBrandByPage" resultType = "com.foxtail.model.goods.Brand" parameterType="com.foxtail.model.goods.Brand">
					select * from goods_brand where 1=1
					<if test="brand.brandClassify != null and '' != brand.brandClassify">
							and brandClassify like CONCAT('%',#{brand.brandClassify},'%')
					</if>
					<if test="brand.brandName != null and '' != brand.brandName">
							and brandName like CONCAT('%',#{brand.brandName},'%')
					</if>
					 ORDER BY brandSort desc
			</select>
			
			<!-- 查询所有会员的数量 -->
<!-- 			<select id = "getMemMemberListCount" resultType = "Integer"> -->
<!-- 					select count(1) from member_list -->
<!-- 			</select> -->
			
			<!-- 根据Id删除会员信息 -->
<!-- 			<delete id="deleteMemeberById" parameterType="Integer"> -->
<!-- 					delete from member_list where id = #{id} -->
<!-- 			</delete> -->
			
			<!-- 获得品牌对象通过id -->
			<select id="getBrandById" parameterType="Integer" resultType="com.foxtail.model.goods.Brand">
					select * from goods_brand where id = #{id}
			</select>
			
			<!-- 通过品牌信息修改商品信息 -->
			<update id="updateBrandByBrand">
					update goods_brand set brandName = #{brandName}, brandClassify = #{brandClassify},brandPhoto = #{brandPhoto},
					brandSort = #{brandSort}
					where id = #{id}
			</update>
			
			<!-- 添加商品信息 -->
			<insert id="addBrand" parameterType="com.foxtail.model.goods.Brand">
					insert into goods_brand
					(brandName,brandClassify,brandPhoto,brandSort,brandStatus)
					values 
					(#{brandName},#{brandClassify},#{brandPhoto},#{brandSort},#{brandStatus})
			</insert>
			
			
			<!-- 删除商品分类信息/批量删除 -->
			<delete id="deleteBrand">
					delete from goods_brand
					where id in
					<foreach item="ides" collection="array" open="(" separator="," close=")">
            			#{ides}
        			</foreach>
			</delete>
			
			<!-- 查询品牌名称 -->
			<select id="getBrandName" resultType="com.foxtail.model.goods.Brand">
					select brandName from goods_brand
			</select>
			
			
							
					
	</mapper>